<div id="tblAccounts" class="tab-content">
    <table class="table tblVoucher table-striped table-bordered table-hover">
        <colgroup>
            <col style="width: 10%" />
            <col style="width: 50%" />
            <col style="width: 20%" />
            <col style="width: 10%" />
            <col style="width: 10%" />
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Expense</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblVoucherBody">
            <tr ng-repeat="acct in Accounts">
                <td>{{acct.ID}}</td>
                <td>{{acct.Name | date:'dd.MM.yyyy'}}</td>
                <td>{{acct.Expense}}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
