<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Classes</title>
    <script src="classes.js"></script>
</head>
<body>
    <h3>Classes</h3>
    <ul>
        <li><a href="javascript:basicClasses()">Basic Classes</a></li>
        <li><a href="javascript:classesConstructor()">Constructor</a></li>
        <li><a href="javascript:getSet()">get / set</a></li>
        <li><a href="javascript:inheritance()">Inheritance</a></li>
        <li><a href="javascript:staticProperties()">Static Properties</a></li>
    </ul>
</body>
</html>