<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TypeScript Demos - Functions</title>
    <script src="functions.js"></script>
</head>
<body>
<h3>Functions</h3>
    <ul>
        <li><a href="javascript:typedFunctions()">Typed Functions</a></li>
        <li><a href="javascript:functionParameters()">Parameters</a></li>
        <li><a href="javascript:arrowFunctions()">Arrow Functions</a></li>
        <li><a href="javascript:functionOverloads()">Function Overloads</a></li>
        
    </ul>
</body>
</html>