<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Interfaces</title>
    <script src="interfaces.js"></script>
</head>
<body>
    <h3>Interfaces</h3>
    <ul>
        <li><a href="javascript:interfacesBasics()">Interfaces Basics</a></li>
        <li><a href="javascript:interfacesNullability()">Interfaces Nullability</a></li>
        <li><a href="javascript:interfacesObjectLiterals()">Object Literals</a></li>
        <li><a href="javascript:interfacesFunctions()">Interfaces and Functions</a></li>
    </ul>
</body>
</html>