
<!DOCTYPE html>
<html ng-app="popupApp">
<head >
    <meta charset="utf-8" />
    <title></title>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/css/ngDialog.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/js/ngDialog.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/css/ngDialog-theme-default.css" rel="stylesheet" />
    <script src="popup.js"></script>

</head>
<body ng-controller="popupCtrl">
    <table >
        <tr ng-repeat="selectedBook in Books">
            <td>
                <a ng-click="showBook($index)">{{selectedBook.Title}}</a>
            </td>
        </tr>
    </table>
</body>
</html>