<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TypeScript Demos - Types</title>
    <script src="types.js"></script>
</head>
<body>
<h3>Types</h3>
    <ul>
        <li><a href="javascript:basicVariables()">Basic Variables</a></li>
        <li><a href="javascript:useLetConst()">Let & Const</a></li>
        <li><a href="javascript:useEnums()">Enums</a></li>
        <li><a href="javascript:introArrays()">Arrays</a></li>
        <li><a href="javascript:useVoidAny()">Void and Any</a></li>
    </ul>
</body>
</html>